// Here's a little demo content to get y'all started...

%section
  %h1{style:'padding-top: 20%'} Design and User Experience (UX)


%section
  %p{:style => "padding-top: 200px;"}= "Keep your users happy with <strong>good design</strong>."


%section
  %h2{style: 'margin-top: 10%;'} Design

  %p{style: 'margin-bottom: 50px;'} The aesthetics of the visual interface of your app.

  %h2 UX

  %p Your user's emotions while using your app.


%section
  %h2 An app design process

  %ul{style: 'margin-top: 8%;'}
    %li Determine goals.
    %li Determine your audience.
    %li Paper prototyping.
    %li Create mock-ups.
    %li Build it!


%section
  %h2 Determine goals

  %p{style: 'margin-top: 20%'} What problem are you solving?


%section
  %h2 Determine your audience

  %ul{style: 'margin-top: 15%;'}
    %li Which industry/demographic will your app serve?
    %li Create user personas
    %li Build stories for those personas

%section
  %section
    %h2 Paper prototyping

    %img{src: 'images/prototype.jpg'}

  %section
    %h2 Paper prototyping

    %ul{style: 'margin-top: 15%'}
      %li Quick and easy
      %li Not tied to any one design
      %li Allows you to think like a user


%section
  %section
    %h2 Mock-ups

    %ul
      %li Pictures of an interface
      %li Slice 'em up
      %li Built in Photoshop nearly 100% of the time
      %li Designers vs. builders


%section
  %section
    %h2 Build it!

    %ul
      %li Slice up your mock-up
      %li Build a working prototype
      %li Build it to throw it away


%section
  %h2 Credits

  %ul
    %li= "Flickr user #{link_to 'rcourtie', 'http://www.flickr.com/photos/rcourtie/3500124668/', :target => '_new'}"

