// Here's a little demo content to get y'all started...

%section
  %h1{:style => "padding-top: 180px;"} Rails Girls
  %h2 Hello World!

%section
  %p{:style => "padding-top: 200px;"}= "Writing badass software takes <b>discipline</b>"

%section
  %h2 Uncle Bob says...

  %blockquote
    This is where the professional draws the line... He won't get done faster if
    he doesn't write his tests. He won't get done faster if he doesn't refactor.
    He won't get done faster if he omits the full regression suite. Years of
    experience have taught us that breaking disciplines only slows us down.

  %blockquote
    We move slow to move fast.
